.home-page{
  background: url('../../assets/images/me.jpg'),#050549;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 .name{
   text-align: center;
   color: #e0d6e9;
   text-transform: uppercase;
   font-size: 3rem;
  //  border-bottom: 20px dashed #e7e2ec;
   span{
     color: #e7e2ec;
     display: block;
    //  border-top: 20px dashed #141216;
   }
 }
 .center{
   display: flex;
   flex-direction: column;
   align-items: auto;
   justify-content: center;
   align-items: center;
   .profession{
     color:#000000;
     text-transform: capitalize;
     font-size: 2rem;
     font-weight: 900;
     text-align: start;
    }
    
    .drive{
    border-bottom: 4px dashed #e0d6e9;
    padding-bottom: 1rem;
    color:#e0d6e9;
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    
  }
  // border-top: 10px dashed #141314;
 }
}

