/*Medial queris*/
@media(max-width:725px){
  .projects{
    .projects-details{
     flex-direction: column;
    }
  }
}
@media(max-width:450px){
 
  .skills{
    width: 90%;
  }
  #about-me{
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .me{
    margin-left: 0;
  }
  nav{
    .links{
      display: none !important;
    }
    .toggler{
      display: block;
    }
  }
  .one-opacity{
   visibility: visible;
    transition: 1s all;
    padding-bottom: 30px;
    z-index: 100;
  }
  .zero-opacity{
    visibility: hidden;
    height: 0;
    transition: 1s all;
    z-index: 100;
  }

  .home-page{
    p:first-child{
      font-size: 1.5rem;
    }
   }
   p{
     font-size: 1.2rem !important;
   }
   h1, h2, h3, h4, h5, h6{
     font-size: 1rem !important;
     line-height: 2;
   }
}