.projects{
  background: #ffffff;
  padding: 10px;
  .projects-details{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 30px;
   .project-image{
     margin-bottom: 20px;
    flex: 6;
     .img{
       height: 400px;
       width: 100%;
     }
   }
   .project-about{
    height: 400px;
     flex: 3;
     margin: 0px 10px;
     color: #000000;
     line-height: 1.2;
     box-shadow: 2px 3px 4px 6px #777474;
     padding: 0px 10px;
   }
   .developer-role{
     text-align: center;
     border-top: 3px solid #53024d;
     box-shadow: 10px 3px 4px 1px #535252;
     padding: 0px 5px;
     .tools{
       font-size: 0.7rem;
       li{
         margin-bottom: 4px;
       }
     }
     .role{
       color: #800080;
       border-top: 3px solid #000000;
     }
   }
  }
}