.skills{
  min-height: 200px;
  background: #ffffff;
  padding:0px 20px;
  width: 70%;
  box-shadow: 3px 12px 23px 10px #717172;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  .skills-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
.label-percent{
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
  text-transform: uppercase;
  width: 100%;
}

#javascript, #mysql, #orm, #php, #laravel, #express,#posgresql{
  width: 70%;
}
#jquery, #react, #node, #rest,#mongodb{
  width: 60%;
}
#html{
  width: 90%;
}
#css3,#git{
  width: 80%;
}


.inputs-wrapper{
  background: #d3d1d1;
  .inputs{
    background: #58278a;
    color: #ffffff;
    display: inline-block;
    text-align: end;
    border-radius: 5px;
    padding: 4px 10px;
    border: 0px solid #684b37;
  }
}