* {
  overflow-x: hidden;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  background: #ffffff !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding-right: 20px;
  line-height: 1.4;
}

nav .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #ffffff;
  padding-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
}

nav .links {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .links .link-items .anchors {
  color: #000000;
  text-transform: uppercase;
}

nav .links .link-items .anchors:hover {
  color: #595c59;
  -webkit-transition: 1s all;
  transition: 1s all;
}

nav .toggler {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

nav .toggler .toggle-bar:first-child {
  width: 40px;
  height: 5px;
  background: #000000;
}

nav .toggler .toggle-bar:nth-child(2) {
  width: 20px;
  height: 2px;
  background: #000000;
  margin: 5px auto;
}

nav .toggler .toggle-bar:nth-child(3) {
  width: 40px;
  height: 5px;
  background: #000000;
  margin: 5px auto;
}

nav .toggler:hover {
  border: 2px solid  #cebebe1a;
  padding: 5px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.hidden-nav {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #d1dbd1;
  position: fixed;
  top: 60px;
  width: 97vw;
}

.hidden-nav .link-items {
  margin: 10px;
}

.hidden-nav .link-items .anchors {
  color: #000000;
}

.zero-opacity {
  visibility: hidden;
  height: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
  z-index: 100;
}

.nav {
  background: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 200;
}

.nav .logo {
  color: #0a0909;
}

.nav .links .link-items .anchors {
  color: #000000;
}

.nav-c {
  background: #020131;
}

.nav-c .links .link-items .anchors {
  color: #ffffff;
}

.nav-c .toggler .toggle-bar:first-child {
  background: #ffffff;
}

.nav-c .toggler .toggle-bar:nth-child(2) {
  background: #ffffff;
}

.nav-c .toggler .toggle-bar:nth-child(3) {
  background: #ffffff;
}

.home-page {
  background: url("../../assets/images/me.jpg"), #050549;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page .name {
  text-align: center;
  color: #e0d6e9;
  text-transform: uppercase;
  font-size: 3rem;
}

.home-page .name span {
  color: #e7e2ec;
  display: block;
}

.home-page .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .center .profession {
  color: #000000;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 900;
  text-align: start;
}

.home-page .center .drive {
  border-bottom: 4px dashed #e0d6e9;
  padding-bottom: 1rem;
  color: #e0d6e9;
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.skills {
  min-height: 200px;
  background: #ffffff;
  padding: 0px 20px;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.skills .skills-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.label-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px 20px;
  text-transform: uppercase;
  width: 100%;
}

#javascript, #mysql, #orm, #php, #laravel, #express, #posgresql {
  width: 70%;
}

#jquery, #react, #node, #rest, #mongodb {
  width: 60%;
}

#html {
  width: 85%;
}

#css3, #git {
  width: 80%;
}

.inputs-wrapper {
  background: #eeecec;
}

.inputs-wrapper .inputs {
  background: #d38383;
  display: inline-block;
  text-align: end;
  border-radius: 5px;
  padding: 4px 10px;
  border: 0px solid #684b37;
}

.jobs {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

hr {
  border: 1px solid #777373;
  width: 100%;
}

.about_bio {
  background: #ffffff;
  padding: 0px 20px;
  line-height: 1.5;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.about_bio h2 {
  color: #0f0a0a;
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#020230), to(#080505));
  background: linear-gradient(to right, #020230, #080505);
  padding: 0px 0 30px 20px;
  color: #c7c6c6;
}

.contact h2 {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
}

.projects {
  background: #ffffff;
  padding: 10px;
}

.projects .projects-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  border-bottom: 2px solid #7f837f;
}

.projects .projects-details .project-image {
  margin-bottom: 20px;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.projects .projects-details .project-image .img {
  height: 400px;
  width: 100%;
}

.projects .projects-details .project-about {
  height: 400px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 0px 10px;
  color: #000000;
  line-height: 1.5;
  -webkit-box-shadow: 10px 3px 4px 1px #f0efef;
          box-shadow: 10px 3px 4px 1px #f0efef;
  padding: 0px 10px;
}

.projects .projects-details .developer-role {
  text-align: center;
  -webkit-box-shadow: 10px 3px 4px 1px #f0efef;
          box-shadow: 10px 3px 4px 1px #f0efef;
  padding: 0px 5px;
}

.projects .projects-details .developer-role .tools {
  font-size: 0.7rem;
}

.projects .projects-details .developer-role .tools li {
  margin-bottom: 4px;
}

.projects .projects-details .developer-role .role {
  color: #250252;
}

footer {
  height: 20vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#141216), to(#05010a));
  background: linear-gradient(to top, #141216, #05010a 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f0f8ff;
}

/*Medial queris*/
@media (max-width: 725px) {
  .home-page {
    height: 70vh;
  }
  .projects .projects-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .links {
    display: none !important;
  }
  nav .toggler {
    display: block;
  }
  .one-opacity {
    visibility: visible;
    -webkit-transition: 1s all;
    transition: 1s all;
    padding-bottom: 30px;
    z-index: 100;
  }
  .zero-opacity {
    visibility: hidden;
    height: 0;
    -webkit-transition: 1s all;
    transition: 1s all;
    z-index: 100;
  }
}

@media (max-width: 450px) {
  .skills {
    width: 90%;
  }
  .me {
    margin-left: 0;
  }
  nav .links {
    display: none !important;
  }
  nav .toggler {
    display: block;
  }
  .one-opacity {
    visibility: visible;
    -webkit-transition: 1s all;
    transition: 1s all;
    padding-bottom: 30px;
    z-index: 100;
  }
  .zero-opacity {
    visibility: hidden;
    height: 0;
    -webkit-transition: 1s all;
    transition: 1s all;
    z-index: 100;
  }
  .home-page {
    height: 70vh;
  }
  .home-page p:first-child {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 2;
  }
  .name, .drive {
    font-size: 1.8rem;
  }
  .about_bio {
    width: 90%;
  }
}
/*# sourceMappingURL=app.css.map */